@import './styles/base.scss';

:root {
  --duration: 3s;
  --easing : cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  //background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  //animation: slide-right var(--duration) var(--easing) infinite;
  background-color: aqua;
  // transition-property: background-color transform opacity;
  // transition-duration: 0.1s;
  //transition: all 2s 0.5s ease-in-out;
  //move-like-square, red-green;
  //  animation-duration: 4s;
  //animation-fill-mode: forwards;
  //animation-fill-mode: backwards;
  //animation-fill-mode: both;
  //animation-iteration-count: infinite;
  //animation-direction: alternate;
//  animation-direction: alternate-reverse;
  // animation choreography 
  --duration :0.5s;
  animation: move-right var(--duration) both;
  &:nth-child(5) {
    animation-delay: calc(var(--duration) * 0.3);
  }
  
  &:nth-child(6) {
    animation-delay: calc(var(--duration) * 2* 0.3);
  }
  // &:hover {
  //   // transition-delay: 0.5s;
  //   // transition-duration: 1s,              15s;
  //   // transition-timing-function: linear, ease-in-out;
  //   // background-color: blue;
  //   // transform: scale(22);
  //   opacity: 0.1;
  // }

}



@keyframes move-like-square {
  0%, 100% {
    transform: none
  }
  25% {
    transform: translateX(50vw);
  }
  50% {
    transform: translateX(50vw) translateY(50vh);
  }
  75% {
    transform: translateX(0) translateY(50vh);
  }
}

@keyframes red-green {
  0% {
    background-color: red
  }
  25% {
    background-color: rgb(232, 160, 160);
  }
  50% {
    background-color: rgb(161, 187, 158);
  }
  75% {
    transform:  rgb(82, 140, 75);
  }

  100% {
    transform:  rgb(29, 245, 5);
  }
}

// @keyframes slide-right {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(50vw);
//   }
// }

@keyframes move-right {
  from {
    transform: none;
  }
  to {
    transform: translateX(80vw);
  }
  
}
